.row .product_style_3 {
    display: block;
}

form {
    display: block;
    position: relative;

}

form .box {
    float: left;
}


.products {
    padding: 0 10px;
    margin-bottom: 1em;
}

.buyer {
    background-color: #D38974;
    border: #FDE5D9;
    border-style: solid;
    border-width: 5px;
    border-radius: 1rem;
    width: 100%;
    padding-bottom: 20px;
}

.input_box {
    background: #FDE5D9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    margin: 1em;
    color: #703f33;
}

.input_box input {
    outline: none;
    border: none;
    background-color: #FDE5D9;
    color: #703f33;
}

.input_box input::placeholder {
    color: #703f33;
    font-size: 0.9em;
}


.buy-btn {
    padding: 1em;
    background: #FDE5D9;
    color: #703f33;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    margin: auto;
    display: block;
    width: 50%;
}

.item {
    display: block;
    position: relative;
}


.checkbox {
    position: relative;
    margin: auto;
    cursor: pointer;
}

.checkbox:hover input~.checkmark {
    background-color: #FDE5D9;
    border: 5px solid #703f33;
}

.checkbox input:checked~.checkmark {
    background-color: #FDE5D9;
    border: 5px solid #703f33;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -10px;
    left: 10px;
    height: 25px;
    width: 25px;
    background-color: #703f33;
    border-radius: 50%;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}